<header>
  <nav>
    <div class="nav-logo">
      <h1><a href="/">Ani.me</a></h1>
    </div>
    <div class="nav-menu">
      <ul class="nav-menu-list">
        <li class="nav-menu-item">
          <a href="/" class="nav-menu-link">Inicio</a>
        </li>
        <li class="nav-menu-item">
          <a href="/lista" class="nav-menu-link">Lista</a>
        </li>
        <li class="nav-menu-item">
          <a href="/genero" class="nav-menu-link">Gêneros</a>
        </li>
        <li class="nav-menu-item">
          <a href="/novos-episodios" class="nav-menu-link">Novos Episódios</a>
        </li>
      </ul>
      <div class="search">
        <input type="text" name="buscar" placeholder="Buscar" />
      </div>
      <div class="nav-menu-mobile">
        <div class="nav-menu-search"></div>
        <div class="nav-menu-icon"></div>
      </div>
    <div/>
  </nav>
</header>