/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

/* Variables 
  ::root {
    --dark-color: #06090f;
    --blue-color: #00a3ff;
    --gray-color: #151b26;
    --white-color: #f9f9f9;
    --grey-color: #bfbfbf;
  }
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #06090f;
  font-family: "Inter", sans-serif;
  color: #bfbfbf;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-family: "Rubik", sans-serif;
  color: #f9f9f9;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 400;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #bfbfbf;
}
a:hover {
  color: #f9f9f9;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

::placeholder {
  color: unset;
}

/* Classes reutilizáveis */



/* Header */
header {
  max-width: 1280px;
  margin: 30px auto 40px; 
  padding: 0 24px;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo h1 a {
  color: #00A3FF;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu .nav-menu-list {
  display: flex;
  gap: 40px;
  margin-right: 72px;
}
.nav-menu .nav-menu-list .nav-menu-link {
  color: #f9f9f9;
  padding-bottom: 4px;
  position: relative;
}
.nav-menu .nav-menu-list .nav-menu-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #00A3FF;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}
.nav-menu .nav-menu-list .nav-menu-link:hover::after {
  width: 100%;
}
.nav-menu .search input {
  padding: 12px 24px;
  background-color: #151B26;
  border-radius: 25px;
  color: #bfbfbf;
  font-weight: 500;
}
.nav-menu .search::-moz-placeholder {
  color: #f9f9f9;
}
.nav-menu .search:-ms-input-placeholder {
  color: #f9f9f9;
}
.nav-menu .search::placeholder {
  color: #f9f9f9;
}

@media screen and (max-width: 768px) {
  .nav-menu .nav-menu-list,
  .nav-menu .search {
    display: none;
  }
}

/* Filtro */
.filtro {
  max-width: 1280px;
  margin: 0 auto 80px; 
  padding: 0 24px;
  width: 100%;
}

.scroll-x {
  padding: 16px 0;
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
  width: 100%;
  overflow: auto;
  scrollbar-base-color: #00A3FF;
}
.scroll-x * {
  scrollbar-width: thin;
  scrollbar-color: #00A3FF #151B26;
}
.scroll-x::-webkit-scrollbar {
  height: 6px;
}
.scroll-x::-webkit-scrollbar-track {
  background: #151B26;
  border-radius: 20px;
}
.scroll-x::-webkit-scrollbar-thumb {
  height: 4px;
  background: #00A3FF;
  border-radius: 20px;
  border: 0;
}
.scroll-x a {
  width: 108px;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #151B26;
  border-radius: 25px;
  color: #bfbfbf;
  transition: 0.5s;
}
.scroll-x a:hover {
  background: #151B26;
  color: #f2f2f2;
  font-weight: 500;
}
.scroll-x .active {
  background: #151B26;
  color: #f2f2f2;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .filtro {
    margin: 0 auto 40px;
  }
  .scroll-x {
    gap: 12px;
  }
  .scroll-x a {
    width: 68px;
  }
}

/* Ultimas noticias */
.ultimas-novidades {
  max-width: 1280px;
  margin: 0 auto 80px; 
  padding: 0 24px;
  width: 100%;
}
.ultimas-novidades .header {
  margin-bottom: 40px;
}
@media screen and (max-width: 425px) {
  .ultimas-novidades {
    margin-bottom: 40px;
  }
  .ultimas-novidades .header {
    margin-bottom: 20pxpx;
  }
}

.hero {
  width: 100%;
  height: 500px;
  max-height: 400px;
  background-image: url("/img/one-punch-man.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}
.hero .hero-full-screen {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: linear-gradient(270deg, rgba(6, 9, 15, 0.32) 0%, rgba(6, 9, 15, 0.9) 100%);
}
.hero .hero-full-screen p {
  max-width: 500px;
}
@media screen and (max-width: 425px) {
  .hero .hero-full-screen {
    padding: 20px;
  }
}

/* Ultimas atualizações */
.ultimas-atualizacoes {
  max-width: 1280px;
  margin: 0 auto 80px; 
  padding: 0 24px;
  width: 100%;
}
.ultimas-atualizacoes .header {
  margin-bottom: 40px;
}


.ultimas-atualizacoes .container-update {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.ultimas-atualizacoes .card-update {
  max-width: 175px;
  text-align: center;
}

.card-update .gradient {
  max-height: 238px;
  max-width: 175px;
  background: linear-gradient(180deg, rgba(6, 9, 15, 0) 0%, #06090F 100%);
  margin-bottom: 8px;
  z-index: 1;
}

.card-update .gradient span {
  position: relative;
  top: -30;
}

.card-update .gradient img {
  position: relative;
  z-index: -1;
 /* background: linear-gradient(180deg, rgba(6, 9, 15, 0) 0%, #06090F 100%); */
}

.card-update::after {
  content: '';
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #00A3FF;

  z-index: 50;
}

.cta-see-more {
  text-align: center;
}

.cta-see-more .button {
  background: #027ac0;
  padding: 12px 52px;
  border-radius: 4px;
  color: #f9f9f9;
  font-weight: 500;
  transition: 1s ease;
}

.cta-see-more .button:hover {
  background: #00a3ff;
}

@media screen and (max-width: 425px) {
  .ultimas-atualizacoes {
    margin-bottom: 0 auto 40px;
  } 
  .ultimas-atualizacoes .header {
    margin-bottom: 20pxpx;
  }
  .ultimas-atualizacoes .card-update {
    max-width: 140px;
  }
}

/* Footer */
footer {
  background-color: #04060a;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  border-top: 1.5px solid #151b26;
}