<div class="filtro">
  <div class="scroll-x">
    <a href="#" class="active">Todos</a>
    <a href="#">A</a> <a href="#">B</a>
    <a href="#">C</a> <a href="#">D</a>
    <a href="#">E</a> <a href="#">F</a>
    <a href="#">G</a> <a href="#">H</a>
    <a href="#">I</a> <a href="#">J</a>
    <a href="#">K</a> <a href="#">L</a>
    <a href="#">M</a> <a href="#">N</a>
    <a href="#">O</a> <a href="#">P</a>
    <a href="#">Q</a> <a href="#">R</a>
    <a href="#">S</a> <a href="#">T</a>
    <a href="#">U</a> <a href="#">V</a>
    <a href="#">W</a> <a href="#">X</a>
    <a href="#">Y</a> <a href="#">Z</a>
  </div>
</div>

<section class="ultimas-novidades">
  <div>
    <div class="header">
      <h3>Últimas novidades</h3>
      <p>O que você vai assistir hoje?</p>
    </div>

    <div class="hero">
      <div class="hero-full-screen">
        <h2>ONE PUNCH MAN TERÁ 3 TEMPORADA</h2>
        <p>Como relatado anteriormente, a franquia baseada no mangá escrito por
          ONE e ilustrado por Yusuke Murata, One Punch Man, divulgou um
          comunicado confirmando a produção de uma terceira temporada da
          adaptação para o anime […]
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ultimas-atualizacoes container">
  <div>
    <div class="header">
      <h3>Últimas atualizações</h3>
    </div>

    <div class="container-update">
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-16.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Nanatsu no Taizai</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-15.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Darling in the Franxx</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/Douluo-Dalu.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Douluo Dalu</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-14.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Overlord 4</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-13.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>One Piece</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-12.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Fuuto Tantei</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-11.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Hoshi no Samidare</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-10.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Bucchigire!</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-9.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Aoashi</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-8.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Shadows House 2</span>
        <br />
        <span>Episode: 16</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-7.png" alt="" />
          <span> <a href="">Episode: 19</a> </span>
        </div>
        <span>Summer Time Rendering</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-6.png" alt="" />
          <span> <a href="">Episode: 2</a> </span>
        </div>
        <span>Orient 2</span>
      </div>
    </div>

    <div class="cta-see-more">
      <a href="" class="button">Ver mais</a>
    </div>
  </div>
</section>

<section class="ultimas-atualizacoes container">
  <div>
    <div class="header">
      <h3>Últimas atualizações</h3>
    </div>

    <div class="container-update">
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-16.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Nanatsu no Taizai</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-15.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Darling in the Franxx</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/Douluo-Dalu.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Douluo Dalu</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-14.png" alt="" />
          <span> <a href=""> Episode 5 </a> </span>
        </div>
        <span>Overlord 4</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-7.png" alt="" />
          <span> <a href=""> Episode: 19 </a> </span>
        </div>
        <span>Summer Time Rendering</span>
      </div>
      <div class="card-update">
        <div class="gradient">
          <img src="/img/img-6.png" alt="" />
          <span> <a href=""> Episode: 2 </a> </span>
        </div>
        <span>Orient 2</span>
      </div>
    </div>
  </div>
</section>