<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="header container flex">
        <div>
          <h1><a href="/">Ani.me</a></h1>
        </div>
        <nav class="flex">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/lista">Lista</a></li>
            <li><a href="/genero">Gêneros</a></li>
            <li><a href="/novos-episodios">Novos Episódios</a></li>
          </ul>
          <div class="search">
            <input type="text" name="buscar" placeholder="Buscar" />
          </div>
        </nav>
      </div>
    </header>
    {{{body}}}
    <footer class="container">
      <p>&copy; Todos os direitos reservados aos criadores e produtores dos
        animes</p>
      <p>Desenvolvido por: <a href="#">Helder Cambuta</a></p>
    </footer>
  </body>
</html>